
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block sonata_tab_content %}
    {{ parent() }}
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                Pokalbis
            </div>
            <div class="box-body">

                {#{% extends 'FOSMessageBundle::layout.html.twig' %}#}

                {% block fos_message_content %}

                    <h3>{{ thread.subject }}</h3>

                    {% for message in thread.messages %}
                        <div class="messenger_thread_message">
                            <div class="messenger_thread_message_info">
                                {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
                            </div>

                            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                                {{ message.body }}
                            </div>
                        </div>
                    {% endfor %}

                    <h4>{% trans from 'FOSMessageBundle' %}Atsakyti{% endtrans %}</h4>

                    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                        {{ form_widget(replyForm) }}

                        <input type="submit" />
                    </form>

                {% endblock %}            </div>
        </div>

    </div>



{% endblock sonata_tab_content %}