{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block form %}
    <script type="text/javascript" src="{{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/moment/locale/lt.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <div class="col-md-12 bkng-req-adm">
        <div class="box box-primary">
            <div class="box-header">
                Pokalbis
            </div>
            <div class="box-body">

                {% block fos_message_content %}

                    <h3>{{ thread.subject }}</h3>

                    {% for message in thread.messages %}
                        <div class="messenger_thread_message">
                            <div class="messenger_thread_message_info">
                                {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
                            </div>

                            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                                {{ message.body }}
                            </div>
                        </div>
                    {% endfor %}

                    <h4>{% trans from 'FOSMessageBundle' %}Atsakyti{% endtrans %}</h4>

                    <form action="" method="post">
                        {{ form_widget(replyForm) }}

                        <input class="btn btn-success" type="submit" />
                    </form>

                {% endblock %}            </div>
        </div>

    </div>
    {{ parent() }}
{% endblock form %}

{% block sonata_form_actions %}
    {% if object.confirmed == false %}
        <a class="btn btn-success" href="{{ admin.generateObjectUrl('confirm', object) }}">Confirm</a>
        {{ parent() }}
    {% endif %}

{% endblock %}
