<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    </head>
    <body>
      {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
      <div id="topPanel">
        <div class="container invert">
          <div class="row">
            <div class="col-xs-12">
              <p class="topPanelMessage">Kad užsirezervuoti sodybą, prašome <a href="{{ path('fos_user_security_login') }}">prisijungti</a> ar <a href="{{ path('fos_user_registration_register') }}">užsiregistruoti</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
        <nav id="mainNav" class="navbar navbar-transparent">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">Sodybaičiai</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left" id="navigationBar">
                <li>
                  <a href="{{ path('homepage') }}">Pradžia</a>
                </li>
                <li>
                  <a href="{{ path('catalog') }}">Katalogas</a>
                </li>
                <li>
                  <a href="{{ path('myaccount') }}">Paskyra</a>
                </li>
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                      <a href="/admin">Administravimas</a>
                    </li>
                  {% endif %}
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <li>
                          <a href="{{ path('fos_user_security_logout') }}" class="nav logout">Atsijungti</a>
                      </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>


        {% block body %}{% endblock %}

    </body>
    <footer id="footer">
        <div class="container">
            <span>All rights reserved</span>
        </div>
    </footer>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/moment/min/moment.min.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</html>
