<div class="entry-content">
    <div class="" id="">
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="clearfix">
                            <aside id="" class="">
                                <div class="boxHolder row">
                                    <div class="imageInner col-xs-12 col-xl-6">
                                        <figure class="rentWrapper">
                                            <div class="">
                                                <img class="" src="{{ item.image.url }}" alt="{{ item.title }}" width="960" height="567">
                                                <div class="status"><span>rent</span></div>
                                            </div>
                                            <figcaption class="textWrapper">
                                                <h3 class="price">{{ item.price }} EUR</h3>
                                                <h3 class="header"><a href="{{ path('details', {'id': item.id}) }}" title="{{ item.title }}">{{ item.title }}</a></h3>
                                                <h4 class="header" style="color: #fff;">{{ item.category.name }}</h4>
                                                <p class="box body" style="color: white">{{ item.body[:100] ~ '...' }}</p>
                                                <div class="button">
                                                    <a href="{{ path('details', {'id': item.id}) }}" title="{{ item.title }}" class="btn btn-default"><span class="btn__text">Daugiau</span></a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel col-md-3" ></div>
