{% extends 'base.html.twig' %}

{% block body %}

            {% for message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
    <div class="panel col-md-3" ></div>
    <div class="panel panel-default col-md-6">
        <div id="status" class="panel-title">
            <h2>
                Sodybos aprašymas
            </h2>
        </div>
        <div class="panel-body">
            <div>
                <h1>
                    {{ sodyba.title }}
                </h1>
                <p>Kaina - {{ sodyba.price }} EUR</p>
                <br/>
                {% if sodyba.image %}
                    <p>
                        <img src="{{ sodyba.image.url }}" class="md">
                    </p>
                {% endif %}
                <h3>
                    Kategorija - {{ sodyba.category.name }}
                    <br/>
                </h3>
                <p>
                    {{ sodyba.body }}
                    <br/>
                </p>
                <ul>
                    {% for perks in sodyba.perks %}
                        <li>{{ perks.name }}</li>
                    {% endfor %}
                </ul>
                <h3>Rezervuoti</h3>
                {% if is_granted('ROLE_USER') == true %}
                    {{ melifaro_booking_calendar(sodyba, "now", 2) }}
                    {{ form(form) }}
                {% else %}
                    <p class="bg-warning">Rezervuoti sodybą gali tik <a href="{{ path('fos_user_registration_register') }}">registruoti</a>  vartotojai</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel col-md-3" ></div>

{% endblock %}
