{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Sveiki atvykę!</h1>
                <h2>Sodybaičių šeimos sodybų rezervacijos sistema.</h2>
            </div>

            <div id="status">
                <p>
                    Ši svetainė yra kurta tik mokymosi tikslais, visa joje esanti informacija yra išgalvota. Jei kas nors sutampa su realybe, tai yra tik atsitiktinumas.
                </p>
            </div>

            <div>
                <p>
                    <a href="/login">Login</a>
                    <br/>
                    <a href="/register">Register</a>
                    <br/>
                    <a href="/admin">Admin panel</a>
                    <br/>
                    <a href="/messages">Messages</a>
                    <br/>
                    <a href="{{ path('catalog') }}">Back to Catalog</a>
                    <br/>
                </p>
            </div>

            <div id="status">
                <p>
                    Sodybos aprašymas
                </p>
            </div>

            <div>
                <h1>
                    {{ sodyba.title }}
                </h1>
                <p>{{ sodyba.price }} EUR</p>
                <br/>
                <p>
                    <img src="{{ sodyba.image.url }}">
                </p>
                <h3>
                    {{ sodyba.category.name }}
                    <br/>
                </h3>
                <p>
                    {{ sodyba.body }}
                    <br/>
                </p>
                <ul>
                    {% for perks in sodyba.perks %}
                        <li>{{ perks.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}