{% extends 'base.html.twig' %}

{% block body %}

            {% for message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <div id="status">
                <p>
                    Sodybos aprašymas
                </p>
            </div>

            <div>
                <h1>
                    {{ sodyba.title }}
                </h1>
                <p>{{ sodyba.price }} EUR</p>
                <br/>
                {% if sodyba.image %}
                <p>
                    <img src="{{ sodyba.image.url }}">
                </p>
                {% endif %}
                <h3>
                    {{ sodyba.category.name }}
                    <br/>
                </h3>
                <p>
                    {{ sodyba.body }}
                    <br/>
                </p>
                <ul>
                    {% for perks in sodyba.perks %}
                        <li>{{ perks.name }}</li>
                    {% endfor %}
                </ul>
                <h3>Rezervuoti</h3>
                {% if is_granted('ROLE_USER') == true %}
                    {{ melifaro_booking_calendar(sodyba, "now", 2) }}
                    {{ form(form) }}
                {% else %}
                    <p class="bg-warning">Rezervuoti sodybą gali tik <a href="{{ path('fos_user_registration_register') }}">registruoti</a>  vartotojai</p>
                {% endif %}
            </div>


{% endblock %}
